body{
    
    background-image: url(../images/unnamed.jpg)
    
}

div.wrap{
    width:1000px;
    margin: 0px auto;   
}

div.title{
    width:1000px;
    background-color: aquamarine;
    text-align: center;
    height:45px;
    
}

div.setumei{
    margin-top: 10px;
    background-color:azure;
    width:1000px;
    height:100px
}

div.PR{
    margin-top: 5px;
    background-color: antiquewhite
}

div.Cetnter{
    font-size: 0;
    width:1000px;
    height:250px
    
       
}

div.menu{
    vertical-align: top;
    display:inline-block;
    margin-top: 20px;
    width:450px;
    height:500px;
}

.menu01{
    text-align: center;
    margin-top: 10px;
    margin-left:40px; 
    margin-right: 10px;
    background-color: palegreen;
    font-size: 10px;
    height: 190px;
    width:410px;
}

div.menu2{
    vertical-align: top;
    display:inline-block;
    margin-top: 20px;
    margin-left: 20px;
    width:450px;
    height:500px;
}

.image02{
    height:190px;
    background-color: lightpink;
    
}

.image03{
    height:190px;
    background-color: lightcoral;
    
}

.image04{
    height:190px;
    background-color: antiquewhite;
    
}

.image05{
    height:190px;
    background-color: gainsboro;
    
}

.image06{
    height:190px;
    background-color: paleturquoise;
    
}

.menu04{
    text-align: center;
    margin-top: 10px;
    margin-left:60px; 
    margin-right: 10px;
    background-color: palegreen;
    font-size: 10px;
    height: 190px;
    width:410px;
}

div.footer{
    margin-top: 400px;
    width:1000px;
    height:50px;
    background-color: white;
    font-size: 30px;
    color: black;
    text-align: right;
}