body{
    
    background-image: url(../images/unnamed.jpg)
    
}

div.wrap{
    width:1000px;
    margin: 0px auto; 
    height:700px;
}

div.title{
    width:1000px;
    background-color: aquamarine;
    text-align: center;
    height:45px;
    
}

div.setumei{
    margin-top: 10px;
    background-color:azure;
    width:1000px;
    height:100px;
}

div.PR{
    
    margin-top: 10px;
    background-image: url(../images/mori.jpg);
    text-align: center;
    color: palegreen;
    font-size: 25px;
}

.PR1{
    margin-top: 10px;
    text-align: center;
    color: palegreen;
    font-size: 25px;
    
}

div.Cetnter{
    font-size: 0;
    width:1000px;
    height:50px
}

div.menu{vertical-align: top;
    vertical-align: top;
    display:inline-block;
     text-align: center;
    background-color: white;
    margin-top: 55px;
    width:140px;
    height:290px;
}

.list{
    display:inline-block;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
    background-color: yellow;
    font-size: 20px;
    width:100px;
    height:30px;
    
}

.list2{
    display:inline-block;
    text-align: center;
    margin-top: 10px;
     margin-left: 5px;
    background-color: palegreen;
    font-size: 20px;
    width:100px;
    height:30px;
    
}

.list3{
    display:inline-block;
    text-align: center;
     margin-left: 5px;
    margin-top: 10px;
    background-color: antiquewhite;
    font-size: 20px;
    width:120px;
    height:30px;
    
}

.list4{
    display:inline-block;
    text-align: center;
     margin-left: 5px;
     margin-top: 10px;
    background-color: lightpink;
    font-size: 20px;
    width:120px;
    height:30px;
    
}

.list5{
    display:inline-block;
    text-align: center;
     margin-left: 200px;
     margin-top: 10px;
      background-color: paleturquoise;
    font-size: 20px;
    width:120px;
    height:30px;
}



.list7{
    display:inline-block;
    text-align: center;
     margin-left: 40px;
     margin-top: 10px;
      background-color: paleturquoise;
    font-size: 20px;
    width:120px;
    height:30px;
}

.list6{
    display:inline-block;
    text-align: center;
     margin-left: 200px;
     margin-top: 10px;
      background-color: paleturquoise;
    font-size: 20px;
    width:120px;
    height:30px;
}



div.footer{
    margin-top: 40px;
    width:1000px;
    height:50px;
    background-color: white;
    font-size: 30px;
    color: black;
    text-align: right;
}
.puro{
    vertical-align: top;
     display:inline-block;
    text-align: center;
    margin-left: 160px;
    font-size: 20px;
    width:200px;   
}
.bun{
    margin-left: 60px;
    font-size: 20px;
    width:50px;  
     background-color: white;
}
.bun2{
    margin-top: 10px;
    margin-left: 60px;
    font-size: 20px;
    width:600px;
    height: 100px;
     background-color: palegreen;
}
